<!-- <h1>{{title + '.'}}</h1>
<input type=text [(ngModel)]="title"> -->

<!-- <a [href]="url">333</a> -->

<!-- <button (click)="sayHi('1111')">click</button> -->

<!-- <button *ngIf="isShow" (click)="sayHi('1111')">click</button>

<button (click)="ChangeShow('1111')">click111</button> -->

<!-- <app-lesson1></app-lesson1> -->

<!-- <app-lesson2></app-lesson2> -->

<!-- <div *ngFor="let week of weeks">{{week}}</div>

<div *ngFor="let user of users">{{user.name}}-{{user.age}}</div> -->

<!-- <app-lesson3></app-lesson3> -->

<!-- {{users | json}} -->
<!-- {{now | date:'yyyy-MM-dd'}} -->
<!-- {{title | repeat: 3}} -->

<!-- <app-lesson4></app-lesson4> -->

<!-- <input type="text" [(ngModel)]="acc.account">
<input type="text" [(ngModel)]="acc.password"> -->

<!-- <app-star buttonTitle="Hi" (bClick)="sayHi($event)"></app-star> -->

<!-- <app-lesson6 (mChange)="mChange.emit($event)"></app-lesson6> -->

<a [routerLink]="['/lon1']">lon1</a>
<a [routerLink]="['/lon2']">lon2</a>
<a [routerLink]="['/lon3']">lon3</a>
<a [routerLink]="['/lon4']">lon4</a>
<a [routerLink]="['/lon5']">lon5</a>
<a [routerLink]="['/lon6']">lon6</a>
<a [routerLink]="['/lon8']">lon8</a>

<br>

<router-outlet></router-outlet>
